<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c72676d70b3eb8d6748490069849320c&auto=format&fit=crop&w=1350&q=80"></img>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>
